/***** CSS Generall ******/
/* Font google */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Recursive:wght@300..1000&display=swap");
/* font-family: "Recursive", sans-serif; */
/* font-family: "Quicksand", sans-serif; */

/* Color */
:root {
  /* mÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â u tÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¢ng */
  /* mÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â u chÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â­nh */
  --white: #ffffff;
  --black-01: #000000;
  --black-02: #3d3d3d;
  --black-03: #858585;
  --gray-01: #c3c3c3;
  --gray-02: #e2e2e2;
  --gray-03: #eaeaea;
  --yellow-01: #faff00;
  --yellow-02: #e5e91d;
  --yellow-03: #ebef42;
  --yellow-04: #eef084;
  --yellow-05: #f7f8b3;
  --yellow-06: #fdfedb;
  /* mÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â u hÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â trÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â£ */
  --green-01: #028c35;
  --green-02: #16a34a;
  --green-03: #71fe7f;
  --green-04: #71fe7f;
  --green-05: #c2ffc8;
  --red-01: #c71d1d;
  --red-02: #e93434;
  --red-03: #f86767;
  --red-04: #fcb2b2;
  --red-05: #ffeeee;
  --brow-01: #411b1b;
  --brow-02: #5e3131;
  --brow-03: #7c4d4d;
  --brow-04: #956f6f;
  --brow-05: #ab8b8b;
  --brow-06: #b6a5a5;
  /* khung mÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂºÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â·c ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¹nh */
  --boder-full-gray1: 1px solid #c3c3c3;
  --boder-full-gray2: 1px solid #858585;
  --boder-full-gray3: 1px solid #3d3d3d;
}

/* Typography */
.eh1 {
  font-family: "Recursive", sans-serif;
  font-size: 56px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.2px;
  color: var(--black-01);
}

.h1 {
  font-family: "Recursive", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.2px;
  color: var(--black-01);
}

.h2 {
  font-family: "Recursive", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.2px;
  color: var(--black-01);
}

.h3 {
  font-family: "Recursive", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.2px;
  color: var(--black-01);
}

.h4 {
  font-family: "Recursive", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.2px;
  color: var(--black-01);
}

.h5 {
  font-family: "Recursive", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.2px;
  color: var(--black-01);
}

.h6 {
  font-family: "Recursive", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.2px;
  color: var(--black-01);
}

.p1-regular-24 {
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
  color: var(--black-01);
}

.p1-medium-24 {
  font-size: 24px;
  font-weight: 500;
  line-height: 160%;
  color: var(--black-01);
}

.p1-regular-20 {
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  color: var(--black-01);
}

.p1-medium-20 {
  font-size: 20px;
  font-weight: 500;
  line-height: 160%;
  color: var(--black-01);
}

.p2-regular-18 {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: var(--black-01);
}

.p2-medium-18 {
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
  color: var(--black-01);
}

.p2-regular-16 {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: var(--black-01);
}

.p2-medium-16 {
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  color: var(--black-01);
}

.p3-regular-14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  color: var(--black-01);
}

.p3-medium-14 {
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  color: var(--black-01);
}

.p4-regular-12 {
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
  color: var(--black-01);
}

.p4-medium-12 {
  font-size: 12px;
  font-weight: 500;
  line-height: 160%;
  color: var(--black-01);
}

.p5-regular-10 {
  font-size: 10px;
  font-weight: 400;
  line-height: 160%;
  color: var(--black-01);
}

.p5-medium-10 {
  font-size: 10px;
  font-weight: 500;
  line-height: 160%;
  color: var(--black-01);
}

.container {
  margin: 0 120px;
  padding: 0;
  width: 1296px !important;
}
.m-0 {
  margin: 0 !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.mt-80 {
  margin-top: 80px !important;
}
.ml-16 {
  margin-left: 16px !important;
}
.ml-4 {
  margin-left: 4px !important;
}
/* Another CSS */
* {
  box-sizing: border-box;
}

body {
  font-family: "Recursive", sans-serif;
  text-rendering: optimizeLegibility;
  background-color: var(--white);
  z-index: 1000;
}

html {
  height: 100%;
}

.body-fixed {
  /* position: fixed; */
  width: 100%;
  height: 100%;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body,
html {
  /* overflow-x: hidden; */
  width: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none;
  background: transparent;

  color: var(--black-01);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  padding: 0;
  margin: 0;
}

input[type="search"]::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/***** Components ******/
/*** Avatar ***/
.sma-ri-lists {
  padding: 8px;
}

.sma-ris-title {
  margin: 20px 0;
}

.avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-right: 16px;
  display: inline-block;
  vertical-align: middle;

  position: relative;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar.avatar-xs {
  width: 24px;
  height: 24px;
}

.avatar.avatar-lg {
  width: 60px;
  height: 60px;
}

.avatar.avatar-xl {
  width: 80px;
  height: 80px;
}

.avatar.avatar-xxl {
  width: 128px;
  height: 128px;
}

.rounded-circle {
  border-radius: 50% !important;
}

/* Avatar With Status */
.avatar.avatar-online::before {
  content: "";
  width: 25%;
  height: 25%;
  border-radius: 50%;
  border: 1px solid var(--white);
  background-color: var(--green-01);

  position: absolute;
  right: 0;
  bottom: 0;
}

.avatar.avatar-offline::before {
  content: "";
  width: 25%;
  height: 25%;
  border-radius: 50%;
  border: 1px solid var(--white);
  background-color: var(--red-01);

  position: absolute;
  right: 0;
  bottom: 0;
}

.avatar.avatar-away::before {
  content: "";
  width: 25%;
  height: 25%;
  border-radius: 50%;
  border: 1px solid var(--white);
  background-color: var(--brow-01);

  position: absolute;
  right: 0;
  bottom: 0;
}

/* Shape */
.avatar .rounded {
  border-radius: 8px !important;
}

/* Group */
.avatar-group {
  display: flex;
  width: fit-content;
}

.border {
  border: 1px solid var(--black-03);
}

.border-white {
  border: 1px solid var(--white);
}

.avatar .border {
  border-width: 4px !important;
}

.avatar-group .avatar + .avatar {
  margin-left: -16px;
}

.avatar-group .avatar:hover {
  z-index: 1;
}

.avatar-group img {
  box-sizing: content-box;
}

/*** Alerts ***/
.alert {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;

  position: relative;
}

.alert + .alert {
  margin-top: 20px;
}

.alert-primary {
  background-color: var(--yellow-02);
}

.alert-success {
  background-color: var(--green-02);
}

.alert-danger {
  background-color: var(--red-02);
}

.alert-warning {
  background-color: var(--brow-02);
}

.btn-close {
  height: 100%;
  padding: 8px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 0;
  top: 0;
}

/* Breadcrumbs */
.breadcrumbs + .breadcrumbs {
  margin-top: 20px;
}

.breadcrumbs a {
  width: fit-content !important;
  margin-right: 8px;
}

.breadcrumb {
  display: flex;
}

.breadcrumb-item.active {
  color: var(--black-03);
}

.breadcrumb-item + .breadcrumb-item {
  margin-left: 8px;
}

/*** Buttons ***/
/* Default Button */
.btn {
  width: fit-content;
  border: none;
  border-radius: 4px;
  padding: 8px 10px;
  font-family: "Recursive", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.2px;
  color: var(--black-01);
  box-sizing: border-box !important;
  position: relative;
}

.btn:hover {
  opacity: 80%;
}

.btn-primary {
  background-color: var(--yellow-02);
  color: var(--white);
}

.btn-success {
  background-color: var(--green-02);
  color: var(--white);
}

.btn-danger {
  background-color: var(--red-02);
  color: var(--white);
}

.btn-warning {
  background-color: var(--brow-02);
  color: var(--white);
}

/* Button Sizes */
.btn-lg {
  padding: 12px 12px !important;
}

.btn-sm {
  padding: 5px 8px !important;
}

/* Button Outline */
.btn-outline-primary {
  box-sizing: border-box;
  background-color: var(--white);
  color: var(--yellow-02);
  border: 1px solid var(--yellow-02);

  padding: 7px 10px;
}

.btn-outline-success {
  background-color: var(--white);
  color: var(--green-02);
  border: 1px solid var(--green-02);

  padding: 7px 10px;
}

.btn-outline-danger {
  background-color: var(--white);
  color: var(--red-02);
  border: 1px solid var(--red-02);

  padding: 7px 10px;
}

.btn-outline-warning {
  background-color: var(--white);
  color: var(--brow-02);
  border: 1px solid var(--brow-02);

  padding: 7px 10px;
}

/* Buttons Icon */
.btn-icon {
  display: inline-block;
  padding-left: 38px !important;
}

.btn-icon + .btn-icon {
  margin-left: 4px;
}

.btn-icon svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.btn-outline-primary svg {
  fill: var(--white);

  height: 100%;
}

.btn-outline-primary path {
  stroke: var(--yellow-02);
}

.btn-outline-success path {
  stroke: var(--green-02);
}

.btn-outline-danger path {
  stroke: var(--red-02);
}

.btn-outline-warning path {
  stroke: var(--brow-02);
}

/* Process Button */
.spinner-border-primary {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 4px solid var(--white);
  border-top: 4px solid var(--yellow-02);
  vertical-align: -2px;
  animation: spin 1s linear infinite;
}

.spinner-border-success {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 4px solid var(--white);
  border-top: 4px solid var(--green-02);
  vertical-align: -2px;
  animation: spin 1s linear infinite;
}

.spinner-border-danger {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 4px solid var(--white);
  border-top: 4px solid var(--red-02);
  vertical-align: -2px;
  animation: spin 1s linear infinite;
}

.spinner-border-warning {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 4px solid var(--white);
  border-top: 4px solid var(--brow-02);
  vertical-align: -2px;
  animation: spin 1s linear infinite;
}

.spinner-border-sm {
  width: 16px;
  height: 16px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*** Card ***/
/* Card Blog */
.card-blog {
  width: 416px;
  border-radius: 8px;
  border: 1px solid var(--black-03);
  z-index: 1;

  display: inline-block;
}

.card-blog + .card-blog {
  margin-left: 24px;
}

.card-img {
  width: 100%;
  height: 300px;
  z-index: -1;
  object-fit: cover;
}

.card-blog-header {
  padding: 16px 16px 0 16px;
}

.card-blog-body {
  padding: 16px;
}

.card-blog-text {
  margin-bottom: 16px;
}

.card-blog-sm {
  width: 306px;
}

/* Card Product */
.card-product {
  width: 212px;
  border-radius: 8px;
  border: 1px solid var(--black-03);
  z-index: 1;

  display: inline-block;
  position: relative;
}

.card-product + .card-product {
  margin-left: 24px;
}

.card-img {
  width: 100%;
  height: 200px;
  z-index: -1;
  object-fit: cover;
}

.card-product-header {
  padding: 16px 16px 0 16px;
  text-align: center;
}

.card-product-body {
  padding: 16px;
  text-align: center;
}

.card-product-text {
  margin-bottom: 16px;
}

.card-product-lg {
  width: 306px;
}

.card-product-another {
  width: 306px;
  border-radius: 30px;
  border: none;
  z-index: 1;

  display: inline-block;
  background: var(--gray-02);
}

.card-product-description {
  margin-bottom: 16px;
}

.card-product-another img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid var(--gray-03);

  position: absolute;
  top: 0;
  right: 53px;
  transform: translateY(-100px);

  background: var(--gray-03);
}

.card-product-another .card-product-header {
  margin-top: 153px;
}

/*** Dropdown ***/
/* Dropdown Text */
.dropdown {
  width: fit-content;
  height: 100%;
  position: relative;
}

.dropdown + .dropdown {
  margin-left: 16px;
}

.dropdown svg {
  vertical-align: -1px;
  margin-left: 4px;

  width: 12px;
  height: 12px;
}

.dropdown-menu {
  width: fit-content;
  border-radius: 4px;
  border: 1px solid var(--gray-01);
  padding: 16px;

  display: flex;
  flex-direction: column;
  text-align: left;

  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 20px);

  display: none;
}

.dropdown-menu.show {
  display: flex;
  z-index: 1;
  background: var(--white);
}

.dropdown-item {
  min-width: 130px;
  width: auto !important;
  clear: both;
  white-space: nowrap;
}

.dropdown-item + .dropdown-item {
  margin-top: 16px;
}

/* Dropdown With Buttons */
.dropdown-toggle::after {
  content: "";
  display: inline-block;
  border-top: 8px solid;
  border-right: 8px solid transparent;
  border-bottom: 0;
  border-left: 8px solid transparent;

  vertical-align: 2px;
  margin-left: 8px;

  white-space: nowrap;
}

.btn-group .dropdown-menu,
.btn-dropdown {
  transform: translate(0, 48px);
}

/* Split Dropdown Button */
.btn-group {
  position: relative;
  border-radius: 8px;
}

.btn-group + .btn-group {
  margin-left: 16px;
}

.dropdown-toggle-split::after {
  content: "";
  border-top: 8px solid;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
  vertical-align: -6px;

  margin-left: -2px;
}

.dropdown-toggle-split:hover,
.btn-group button:first-child:hover {
  opacity: 80%;
  box-shadow: inset 4px 4px 8px var(--black-03);
}

.btn-group .dropdown-menu.show {
  display: flex;
  z-index: 1;
  background: var(--white);
}

/*** Pagination ***/
.pagination {
  display: flex;
}

.page-item,
.page-item-dot {
  width: 44px !important;
  height: 44px !important;
  border-radius: 8px;
  border: 1px solid var(--gray-03);

  display: flex;
  align-items: center;
  justify-content: center;
}
.page-item-dot {
  margin: 0 8px;
}

.page-item + .page-item {
  margin-left: 8px;
}

.page-item:last-child svg,
.page-item:first-child svg {
  /* transform: translate(10px, 10px); */
}

.page-item:first-child svg path {
  fill: var(--green-01);
}

.page-item:hover,
.page-item-dot:hover {
  background-color: var(--green-04);
}

.page-item.active,
.page-item-dot.active {
  background-color: var(--green-04);
}
.icon-left,
.icon-right {
  /* display: none !important; */
}
.icon-left.show {
  display: flex !important;
}

/*** Progress ***/
.progress {
  width: 100%;
  height: 16px;
  border-radius: 8px;
  background-color: var(--gray-03);
  overflow: hidden;
}

.progress + .progress {
  margin-top: 16px;
}

.progress-bar {
  height: 100%;
}

.bg-primary {
  background-color: var(--yellow-02);
}

.bg-success {
  background-color: var(--green-02);
}

.bg-danger {
  background-color: var(--red-02);
}

.bg-warning {
  background-color: var(--brow-02);
}

.progress-lg {
  height: 18px;
}

.progress-md {
  height: 8px;
}

.progress-sm {
  height: 6px;
}

.progress-xs {
  height: 4px;
}

/*** Range SLider ***/
.range-slider {
  width: fit-content;
  border-radius: 40px;
  padding: 20px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(to bottom, var(--yellow-02), var(--gray-03));
  box-shadow: 8px 8px 20px var(--gray-01), -8px -8px 20px var(--white);
}

.range {
  width: 400px;
  height: 15px;
  appearance: none;
  border-radius: 15px;
  background: var(--gray-03);
  box-shadow: 5px 5px 5px var(--black-03), -5px -5px 12px var(--white),
    inset 5px 5px 5px var(--gray-02);

  overflow: hidden;
}

.range::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--white);
  border: 2px solid var(--yellow-02);
  box-shadow: -406px 0 0 400px var(--yellow-03);
  cursor: pointer;
}

.rsl-value {
  position: relative;
  width: 60px;
  border-radius: 25px;
  background: var(--yellow-02);
  color: var(--white);
  text-align: center;
  margin-left: 16px;
  box-shadow: 5px 5px 10px var(--black-03), -5px -5px 10px var(--gray-03),
    inset 5px 5px 10px var(--black-03), inset -5px -5px 10px var(--gray-03);
}

/*** Toast ***/
.toast {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  position: fixed;
  top: 20px;
  right: 20px;
  display: none;
  z-index: 999;
}

.toast.show {
  display: block;
}

.toast-close-button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  outline: none;
  background: transparent;

  width: 24px;
  height: 24px;
  font-size: 24px;
  color: var(--white);
}

.toast-title {
  margin-bottom: 16px;
  color: var(--white);
}

.toast-message {
  color: var(--white);
}

.toast-success {
  background: var(--green-02);
}

.toast-danger {
  background: var(--red-02);
}

.toast-warning {
  background: var(--brow-02);
}

/*** Form ***/
.form-group {
  display: flex;
  flex-direction: column;
}

.form-group + .form-group {
  margin-top: 16px;
}

.form-group label {
  margin-bottom: 8px;
}

.form-control {
  height: 44px;
  appearance: none;
  border-radius: 12px;
  border: 1px solid var(--black-03);
  padding: 0 16px;
}

.form-lg {
  height: 52px;
}

.form-sm {
  height: 38px;
}

/* Checkbox */
.form-checkbox {
  position: relative;
  appearance: none;
  border-radius: 8px;
  border: 2px solid var(--gray-01);

  width: 24px;
  height: 24px;
}
.form-checkbox:checked {
  background: var(--yellow-02);
}
.form-checkbox:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 6px;
  top: 4px;
  left: 3px;
  transform: rotate(-45deg);
  border: 2px solid var(--white);

  border-top: transparent;
  border-right: transparent;
  opacity: 0;
}
.form-checkbox:checked:after {
  opacity: 1 !important;
}
.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-content {
  height: 42px;
  display: flex;
  align-items: center;
}

.form-checkbox + .checkbox-content {
  margin-left: 8px;
}

/* Radio */
.form-radio {
  position: relative;
  appearance: none;
  border-radius: 50%;
  border: 2px solid var(--gray-03);

  width: 24px;
  height: 24px;
}
.form-radio:checked {
  background: var(--yellow-02);
}
.form-radio:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 6px;
  top: 4px;
  left: 3px;
  transform: rotate(-45deg);
  border: 2px solid var(--white);

  border-top: transparent;
  border-right: transparent;
  opacity: 0;
}
.form-radio:checked:after {
  opacity: 1;
}

.radio-group {
  display: flex;
  align-items: center;
}

.radio-content {
  height: 42px;
  display: flex;
  align-items: center;
}

.form-radio + .radio-content {
  margin-left: 8px;
}
/* Form Search */
.form-search-group {
  width: 500px;
}
.form-search {
  max-height: 44px;
  height: 44px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--gray-03);

  padding: 4px 8px;
  background-image: url('data:image/svg+xml,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>');
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

.form-search:focus {
  outline: none;
  border: 3px solid var(--yellow-02);

  transition: border-color 0.5s ease-in-out;
}
.sma-ri-title + form {
  margin-top: 16px;
}
.form-search-result {
  width: contain;
  border-radius: 4px;
  border: 1px solid var(--gray-03);
  padding: 12px 0;

  background: var(--gray-03);
  display: none;
  width: 100%;
}
.form-search-result.show {
  display: block;
  max-height: 190px;
  overflow: auto;
  z-index: 999;
  position: relative;
}
.form-search-item a {
  display: inline-block;
  width: 100% !important;
}
.form-search-result li {
  padding: 8px 12px;
}
.form-search-result li + li {
  border-top: 1px solid var(--black-03);
}
/*** Tabs ***/
.nav {
  display: flex;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-content: center;

  padding: 16px;
  background-color: var(--gray-03);

  margin-bottom: 20px;
}

.nav-item:hover {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;

  background: var(--yellow-02);
}

.nav-item.show {
  background: var(--yellow-02);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

/*** Form Select ***/
.form-select {
  background: transparent;
  display: block;
  position: relative;
  appearance: none;
  width: 100%;
  height: 44px;
  max-height: 44px;
  border: none;
  border: 1px solid var(--gray-03);
  border-radius: 4px;
  padding: 4px 8px;

  background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.9402 19.1371C11.5262 19.723 12.4777 19.723 13.0637 19.1371L22.0637 10.1371C22.6496 9.55117 22.6496 8.59961 22.0637 8.01367C21.4777 7.42773 20.5262 7.42773 19.9402 8.01367L11.9996 15.9543L4.05898 8.01836C3.47305 7.43242 2.52148 7.43242 1.93555 8.01836C1.34961 8.6043 1.34961 9.55586 1.93555 10.1418L10.9355 19.1418L10.9402 19.1371Z" fill="black"/></svg>');
  background-repeat: no-repeat;
  background-position: right 20px center;

  font-size: 16px;
  font-weight: 400;
  line-height: 160%;

  transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.form-select:focus {
  outline: none;
  border: 4px solid var(--yellow-02);
}

/* Select Type 2 */
.custom-select {
  position: relative;
  width: 400px;
  max-width: 100%;
  /* margin-top: 48px; */
}

.select-button {
  width: 100%;
  height: 44px;
  border-radius: 4px;
  border: 1px solid var(--gray-02);
  background: var(--white);
  padding: 4px 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-button span:first-child {
  height: 26px;
}

.selected-value {
  text-align: left;
}

.arrow {
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-bottom: 0;
  border-left: 4px solid transparent;
  transition: transform 0.5s ease-in-out;
}

.select-dropdown {
  /* position: absolute; */
  width: 100%;
  max-height: 200px;
  border-radius: 4px;
  border: 1px solid var(--gray-02);
  padding: 10px;
  margin-top: 8px;
  transition: 0.5s ease;
  box-shadow: 0 10px 24px var(--gray-03);
  list-style: none;
  overflow-y: scroll;
  background: var(--white);
}

.select-dropdown:focus-within {
  box-shadow: 0 10px 24px var(--yellow-05);
}

.select-dropdown li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;

  cursor: pointer;
}

.select-dropdown li label {
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: block !important;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--yellow-02);
  border-radius: 16px;
}

::-webkit-scrollbar-track {
  background: var(--gray-03);
  border-radius: 16px;
}

.select-dropdown li:hover,
.select-dropdown input:checked + label {
  background-color: var(--gray-03);
}

.select-dropdown input:focus ~ label {
  background-color: var(--gray-03);
}

.select-dropdown input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
}

.select-dropdown {
  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
  /* display: none; */
  max-height: 0;
  margin: 0;
  padding: 0;
  border: none;
}

.custom-select.active .arrow {
  transform: rotate(180deg);
}

.custom-select.active .select-dropdown {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
  display: block;
  /* transform-origin: bottom; */
  max-height: 200px;
}

.select-dropdown li label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-select-lg {
  max-height: 52px;
  height: 52px !important;
}

.form-select-sm {
  max-height: 38px;
  height: 38px !important;
}

.form-select + .form-select {
  margin-top: 12px;
}

.custom-select-lg button {
  max-height: 52px;
  height: 52px;
}

.custom-select-sm button {
  max-height: 38px;
  height: 38px;
}

.custom-select + .custom-select {
  margin-top: 12px;
}
/* Select Type 3 */
.select-input {
  min-width: 300px;
  width: max-content;
  /* height: 100%; */
}
.select-input-button {
  position: relative;
  appearance: none;
  max-height: 44px;
  height: 44px;
  width: 100%;
  padding: 4px 8px;
  outline: none;
  border: none;
  border-radius: 4px;
  border: 1px solid var(--gray-03);
  text-align: left;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select-input-button-arrow {
  position: relative;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-bottom: 0;
  border-left: 4px solid transparent;
  /* right: 8px; */
  /* top: 50%; */
  transition: transform 0.5s ease-in-out;
  margin-left: 8px;
}
.select-input-button-arrow.active {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}
.select-input-dropdown {
  position: relative;
  border-radius: 4px;
  border: 1px solid var(--gray-03);
  padding: 4px 0;
  max-height: 0;
  overflow-y: scroll;
  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
  width: 100%;
}
.select-input-dropdown.show {
  transform: scaleY(1);
  visibility: visible;
  opacity: 1;

  max-height: 215px;
}
.select-input-dropdown input[type="search"] {
  appearance: none;
  max-height: 44px;
  height: 44px;
  padding: 4px 8px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--gray-03);
  font-size: 16px;
}
.select-input-dropdown input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
}
.select-input-dropdown label {
  display: inline-block;
  width: fit-content;
  padding: 8px 8px;
  border-radius: 4px;
}
.select-input-dropdown li:nth-child(2) {
  display: none;
}
.select-input-dropdown li {
  cursor: pointer;
  /* width: fit-content; */
}
.select-input-dropdown li:hover {
  background: var(--gray-03);
}
.select-input-dropdown li.active {
  background: var(--gray-03);
}

/*** Form Wizard ***/
.form-wizard {
  position: relative;
  min-height: 600px;
  height: fit-content;
  padding: 20px;
}

.nav-form-wizard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wizard-item {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--gray-03);

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wizard-item.active {
  background: var(--yellow-02);
  transition: border-color 0.5s ease-in-out;
}

.form-wizard-item + .nav-divider {
  width: 200px;
  border: 1px solid var(--gray-03);
  margin: 0 50px;
}

.tooltip-top {
  position: absolute;
  min-width: 200px;
  width: fit-content;
  top: -40px;
  right: auto;
  border-radius: 4px;
  background: var(--black-01);
  color: var(--white);
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  display: none;
  text-align: center;
}

.tooltip-top:after {
  position: absolute;
  content: "";
  border-top: 4px solid var(--black-01);
  border-right: 4px solid transparent;
  border-bottom: 0;
  border-left: 4px solid transparent;
  bottom: -4px;
  width: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: transkate(-50%, 2px);
  transform: translateX(-4px);
}

.tooltip-top.show {
  display: block;
}

.form-wizard-pre {
  position: absolute;
  left: 0;

  display: none;
}

.form-wizard-next {
  position: absolute;
  right: 0;
  display: none;
}

.form-wizard-save {
  position: absolute;
  right: 0;

  display: none;
}

.form-wizard-pre.show,
.form-wizard-next.show,
.form-wizard-save.show {
  display: block;
  margin-top: 20px;
}

.form-wizard-content {
  position: relative;
}
.form-wizard-pane-title {
  margin: 16px 0;
}
.form-wizard-pane {
  display: none;
}
.form-wizard-pane.show {
  display: block;
}

/*** Database Tables ***/
.dataTables {
  max-width: 1056px;
  overflow-x: scroll;
}
.dataTable {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.dataTable td:first-child {
  /* width: fit-content !important; */
}
.table-image {
  max-width: 200px !important;
  width: 200px !important;
}
.dataTable thead {
  background: var(--gray-03);
}
.dataTable .sorting {
  text-align: left;
  padding: 12px 16px;
}
.sorting-image {
  /* width: 80px !important; */
  /* max-width: 80px !important; */
}
.dataTable tbody td {
  padding: 12px 16px;
  white-space: nowrap;
  vertical-align: middle;
  white-space: nowrap;
  box-sizing: content-box;
  max-width: 100%;
  width: 100%;
}
.dataTable thead th {
  max-width: 100%;
  width: 100%;
  white-space: nowrap;
}
.table-image {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.table-image img {
  background: var(--gray-03);
}
.dataTable tbody tr {
  border-top: 1px solid var(--gray-03) !important;
}
.sorting-checkbox {
  max-width: 30px !important;
  width: 30px !important;
}
.dataTable-filter {
  display: flex;

  margin-bottom: 16px;
  flex-direction: column;
}
.search-filter {
  display: flex;
  margin-bottom: 16px;
}
.data-icon-filter,
.data-icon-filter-reset {
  padding: 10px 0;
  background: var(--yellow-02);
  width: 44px;
  max-height: 44px;
  height: 44px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.data-icon-filter svg path,
.data-icon-filter-reset {
  fill: var(--white);
}
.data-icon-filter {
  margin-right: 16px;
}
.data-icon-filter svg + svg {
  display: none;
}
.data-icon-filter svg + svg.active {
  display: block;
}
.data-icon-filter-reset {
  background: var(--red-02);
}
.select-filter {
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 24px;
  transform: scaleY(0);
  height: 0;
}
.select-filter.show {
  visibility: visible;
  height: max-content;
  transform: scaleY(1);
}
.select-filter .select-input {
  min-width: 229px !important;
}
.select-filter .select-input-button {
  width: 229px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* white-space: pre-line; */
  /* overflow: hidden; */
}
.select-filter .select-input-dropdown {
  width: 229px;
  white-space: nowrap;
}
.select-filter .select-input-button-value {
  white-space: nowrap;
  overflow: hidden;
}
.dataTable-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 16px 0;
}

/* Circle Proccess */
.circular {
  height: 100px;
  width: 100px;
  position: relative;
}
.circular .inner,
.circular .outer,
.circular .circle {
  position: absolute;
  z-index: 6;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
}
.circular .inner {
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background-color: var(--white);
  border-radius: 100%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.circular .circle {
  z-index: 1;
  box-shadow: none;
}
.circular .numb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  color: var(--yellow-02);
}
.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--white);
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}
.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
}
.circle .bar .progress,
.dot span {
  background: var(--yellow-02);
}
.circle .left .progress {
  z-index: 1;
  animation: left 4s linear both;
}
@keyframes left {
  100% {
    transform: rotate(180deg);
  }
}
.circle .right {
  z-index: 3;
  transform: rotate(180deg);
}
.circle .right .progress {
  animation: right 4s linear both;
  animation-delay: 4s;
}
@keyframes right {
  100% {
    transform: rotate(180deg);
  }
}
.circle .dot {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 10px;
  margin-top: -5px;
  animation: dot 8s linear both;
  transform-origin: 0% 50%;
}
.circle .dot span {
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
@keyframes dot {
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(90deg);
    z-index: 4;
  }
  100% {
    transform: rotate(270deg);
    z-index: 4;
  }
}
